WindowsBinaries/OpenCL/*.cl
WindowsBinaries/OpenCL/bin/*.asm
VisualStudio/Win32
VisualStudio/x64
BoostPackages/boost_1_61_0
BoostPackages/lib
Merikens*.exe
Merikens*.pdb
vc*.pdb
*.sdf
*.suo
*.opensdf
tripcodes.txt
*.o
*.obj
*.exe
*.lnk
*.bc
*.ii
*.s
CMakeBuild
*~
CLRadeonExtender/CLRX-mirror-master
